In [ ]:
# q.1Explain with an example each when to use a for loop and a while loop

In [ ]:
#Use a for loop when you know the loop should execute n times.
#Use a while loop for reading a file into a variable. ''''''
#Use a while loop when asking for user input. 
#Use a while loop when the increment value is nonstandard

In [1]:
l=[1,2,3,5,4]

In [2]:
for i in l:
    print (i)

1
2
3
5
4

In [4]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [5]:
#Q 2 Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

In [8]:
# Sum of natural numbers up to num

num = 10

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 55

In [9]:
#question 3
unit = int(input("entre the unit:"))
if unit <=100:
    print ("the bill"unit * 4.5)
elif unit <=200:
    print ("the bill"unit *6)
elif unit <=300:
    print ("the bill" unit *10)
else:
    unit >300:
    print ("the bill" unit *20)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3439161460.py, line 3)

In [29]:
l=list(range(1,101))

In [30]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [31]:
l1=[]

In [32]:
for i in l:
    l1.append(i*i*i)

In [33]:
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [ ]:
#qq5   Write a program to filter count vowels in the below-given string.

#string = "I want to become a data scientist"

In [ ]:
sl="I want to become a data scientist"